<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title id="title">Aux Assistant - Final Selection</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    </head>
    <body>
        <div id="loader" style="display:none"></div>
        <div id="body">
            <h1 class="title">3. Choose any combination of genres, songs, and artists. At most 5 selections allowed</h1>
            <div style="width: 100%; float: left">
                <h2 style="color: white"><span id="remaining">5</span> possible choices remaining...</h2>
            </div>
            <form method="POST" action="/generate">
                <div id="final_select_div">
                    <h1>Of the {{genres_size}} Genre(s) you chose, select the ones you would like to include?</h1>
                    {% for g in genres %}
                    <input type="checkbox" name="final_genres" value={{g}} id="genres_{{g}}" onclick="checkboxChange(this)" class="catCheckbox"><label for="genres_{{g}}">{{g}}</label>
                    {% endfor %}
                </div>
                <div id="final_select_div">
                    <h1>Of the {{tracks_size}} Tracks(s) you chose, select the ones you would like to include?</h1>
                    {% for t in range(tracks_size) %}
                    <input type="checkbox" name="final_track_ids" value="{{track_ids[t]}}" id="tracks_{{t}}" onclick="checkboxChange(this)" class="catCheckbox"><label for="tracks_{{t}}">{{track_names[t]}}</label>
                    {% endfor %}
                </div>
                <div id="final_select_div">
                    <h1>Of the {{artists_size}} Artist(s) you chose, select the ones you would like to include?</h1>
                    {% for r in range(artists_size) %}
                    <input type="checkbox" name="final_artist_ids" value="{{artist_ids[r]}}" id="artists_{{r}}" onclick="checkboxChange(this)" class="catCheckbox"><label for="artists_{{r}}">{{artist_names[r]}}</label>
                    {% endfor %}
                </div>
                <div style="width:50%; float:right">
                    <input type="submit" class="button" value="Continue" id="submit" onclick="load()" disabled>
                </div>      
            </form>
            <form method="GET" action="/genres">
                <div style="width:50%; float:right">
                    <input type="submit" class="button" value="Restart" onclick="load()">
                </div>
            </form>
        </div>
        <script>
            //Script block here responsible for making sure no more than 5 choices are selected throguh conditonal statements
            var top5 = 0;
            var remain = 5;
            function checkboxChange(cb) {
                if(cb.checked === false) {
                    top5--;
                    remain++;
                    document.getElementById("remaining").innerHTML = remain;
                }
                else {
                    if(top5 + 1 <= 5) {
                        top5 ++;
                        remain--;
                        document.getElementById("remaining").innerHTML = remain;
                    }
                    else {
                        cb.checked = false;
                    }
                }
                if(top5 != 0) {
                    document.getElementById("submit").disabled = false;
                }
                else {
                    document.getElementById("submit").disabled = true;
                }
            }
            // Function which handles the display of the loading visual
            function load() {
                document.getElementById("loader").style.display = 'block';
                document.getElementById("body").style.display = 'none';
            }
        </script>
    </body>
</html>